:root {
    --theme-main-color: rgb(238, 237, 237);  
    --theme-secondary-color: #eae5d5; 
    --footer-header-height: 60px;
}

@font-face {
    font-family: 'typewriter';
    src: url('fonts/moms_typewriter/webfontkit-20230725-033102/mom___-webfont.woff2') format('woff2'),
         url('fonts/moms_typewriter/webfontkit-20230725-033102/mom___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



* {
   font: 1em "typewriter";
}

header {
    display: flex;
    justify-content: center;
    height: var(--footer-header-height);
    background: var(--theme-main-color);
}

footer {
    height: var(--footer-header-height);
    display: flex;
    justify-content: center;
    align-items: end;
}


#imageContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-radius: 3px;
}

img {
    width: 600px;
    height: 650px; 
    grid-area: "img";   
}

.main-container {
    background: var(--theme-main-color);
    display: grid;
    grid-template-columns: minmax(150px,30%) auto minmax(150px,30%);
    justify-content: center;
}

.spacer { 
    background: rgb(238, 237, 237);
}

.bottom-spacer {
    height: 20vh;
    background: var(--theme-main-color);
}


.box {
    border-radius: 3px;
    padding: 2px;
    background-color: #eaab00; /* gold */
    /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
    /* background-image: gold, gold, white */
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),  url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
    url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
    background-repeat: no-repeat;
    background-size: 0 2px, 0 100%, 0% 2px;
    background-position: top center, top center, bottom center;
    -webkit-animation: drawBorderFromCenter 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
    0% {
        background-size: 0 2px, 0 0, 100% 100%;
    }
    20% {
        background-size: 100% 2px, 100% 0, 100% 100%;
    }
    66%
    {
        background-size: 100% 2px, 100% 98%, 100% 100%;
    }
    99%
    {
        background-size: 100% 2px, 100% 98%, 0 2px;
    }
    
}

.parent {
    position: absolute;
    top: 690px;
    left: calc(50% - 240px);
}

.child-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
    padding: 10px;
    text-align: center;
    /* border: 1px solid black; */
}

.child:hover {
    background: var(--theme-secondary-color);
    border-radius: 3px;
}

#child1 {
    margin-top: 0;
  
}

#child2 {
    margin-top: 15px;
    /* grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; */
}


#child3 {
    margin-top: 30px;
    /* grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4; */
}

#child4 {
    margin-top: 45px;
    /* grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5; */
} 

#child5 {
    margin-top: 60px;;
    /* grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 6; */
} 

#child6 {
    margin-top: 75px;
    /* grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 6;
    grid-column-end: 7; */
} 

