:root {
    --theme-main-color: rgb(238, 237, 237);  
    --theme-secondary-color: #eae5d5; 
    --footer-header-height: 60px;
}

@font-face {
    font-family: 'typewriter';
    src: url('fonts/moms_typewriter/webfontkit-20230725-033102/mom___-webfont.woff2') format('woff2'),
         url('fonts/moms_typewriter/webfontkit-20230725-033102/mom___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
}

* {
   font: 1em "typewriter";
}

li {
    list-style-type: none;      
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-header-height);
    background: var(--theme-secondary-color);
}

/* menu apperance */
.dropdown {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 5px;
}

#menuBtn {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 35px;
    border-radius: 3px;
    padding: 10px;
    
}

#menuBtn:hover {
    background: var(--theme-main-color);
    width: 40px;
}

#theMenu {
    display: none;
    position: absolute;
    top: 52px;
    left: 3px;    
    width: 7vw;
    padding: 20px;    
    background: var(--theme-secondary-color);
    z-index: 1;
}

.dropdown:hover #theMenu {display: block;}

.dropdown:hover #menuBtn {background-color: var(--theme-main-color);}

button {
    border: none;
    padding: 5px;
    margin-bottom: 5px;
    background: var(--theme-secondary-color);
}

button:hover {
    background: var(--theme-main-color);
    width: 100px
}

/* menu appearance end */

footer {
    height: var(--footer-header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-secondary-color);
}


#imageContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-radius: 3px;
}

.crest {
    width: 600px;
    height: 650px; 
}
#doderlein-crest-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-main-color);
    
}

#crest-doderlein {
   width: 550px;
   height: 550px;
}


.main-container {
    background: var(--theme-main-color);
    display: grid;
    grid-template-columns: minmax(150px,30%) auto minmax(150px,30%);
    justify-content: center;
    padding-top: 20px;
    position: relative;
    /* min-height: calc(100vh - (var(--footer-header-height)*2)); */ 
}

.center-container {
    max-width: 1200px;
   
}

.spacer { 
    background: rgb(238, 237, 237);
}

.bottom-spacer {
    height: 10vh;
    background: var(--theme-main-color);
}


/* "Frame animation" */
.box {
    max-width: fit-content;
    border-radius: 3px;
    padding: 2px;
    background-color: #eaab00; /* gold */
    /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
    /* background-image: gold, gold, white */
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),  url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
    url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
    background-repeat: no-repeat;
    background-size: 0 2px, 0 100%, 0% 2px;
    background-position: top center, top center, bottom center;
    -webkit-animation: drawBorderFromCenter 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
    0% {
        background-size: 0 2px, 0 0, 100% 100%;
    }
    20% {
        background-size: 100% 2px, 100% 0, 100% 100%;
    }
    66%
    {
        background-size: 100% 2px, 100% 98%, 100% 100%;
    }
    99%
    {
        background-size: 100% 2px, 100% 98%, 0 2px;
    }
    
}

.parent {
    position: absolute;
    top: 710px;
    left: calc(50% - 240px);
    z-index: 1;
}

.child-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows:  repeat(2, 1fr);
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
    padding: 10px;
    text-align: center;
   
}

.child:hover {
    background: var(--theme-secondary-color);
    border-radius: 3px;
}

#child1 {
    margin-top: 0;
}

#child2 {
    margin-top: 15px;
}

#child3 {
    margin-top: 30px;
}

#child4 {
    margin-top: 45px;
} 

#child5 {
    margin-top: 60px;;
} 

#child6 {
    margin-top: 75px;
} 

/* Grids for DOM-manipulation  */

.familymembers {
    text-align: center;
}

#parent1 {
    grid-row: 2/3;
    grid-column: 2/3;
}

#parent2 {
    grid-row: 2/3;
    grid-column: 5/6;

}

#grandchild1 {
    grid-row: 2/3;
    grid-column: 3/4;
    padding-top: 40%;
    
}

#grandchild2 {
    grid-row: 2/3;
    grid-column: 4/5;
    padding-top: 40%;
}

/* grid end */

#Familyphoto, #Familyphoto2, #Familyphoto3 {
    width: 500px;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    visibility: hidden; 
       
}

#familyphoto-container {    
    position: relative;
    display: flex;
    justify-content:center ;
    width: 100%; 
    height: fit-content;
    
}

#familyphoto-container img {
    z-index: 1;
    filter: grayscale(80%); 
}

#familyphoto-container img:nth-child(1) {
    filter: grayscale(70%);
}

#familyphoto-container img:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 70px;

    width: 300px;   
    height: 300px;
    object-fit: cover;
    z-index: 2;
}

#familyphoto-container img:nth-child(3) {
    position: absolute;
    top: 65px;
    right: 60px;

    width: 300px;   
    height: 300px;
    object-fit: cover;
    z-index: 0;
}



.fadeIn {
    animation: fadeIn ease 1500ms;
    -webkit-animation: fadeIn ease 1500ms;
}

.fadeInSec {
    animation: fadeIn ease 2500ms;
    -webkit-animation: fadeIn ease 2500ms;
}

.fadeInThird {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }