

@font-face {
    font-family: 'typewriter';
    src: url('fonts/moms_typewriter/webfontkit-20230725-033102/mom___-webfont.woff2') format('woff2'),
         url('fonts/moms_typewriter/webfontkit-20230725-033102/mom___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
   font: 1em "typewriter";
}

header {
    height: 40px;
    background: #e3dfdf;:;
}
img {
    width: 30%;
    height: auto;
    
}

body {
    /* display: flex;
    flex-direction: row; */
}
